/* GLOBAL */
*	{
	box-sizing: border-box;
}

html	{
	height: 100%;
	scroll-behavior: smooth;
}



img	{
	max-width: 100%;
	height: auto;
}

/* OUTLINE STYLES */
*:focus	{
	outline: 2px dashed #7296ec;
	outline-offset: 3px;
}


/* CONTAINER */
.container	{
	width: 100%;
	max-width: 1240px;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: auto;
	margin-right: auto;
}

/* SITE-HEADER */
.site-header {
}

/* SITE-HEADER-TOP */
.site-header-top {
	margin-bottom: 10px;
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #f6f6f6;
}

/* SITE-HEADER-TOP-CONTAINER */
.site-header-top-container {
	display: flex;
	align-items: center;
}
.container {
}

.site-header-logo {
	display: flex;
	padding: 8px 6px;
	margin-right: 35px;
	border-radius: 7px;
background-color: #fff;
}

.site-header-logo:hover	{
	opacity: 0.8;
}

.site-header-logo:active	{
	opacity: 0.6;
}

/* CURRENCY-RATES */
.currency-rates {
	display: flex;
	align-items: center;
	padding: 0;
	margin: 0;
	margin-right: auto;
	list-style: none;
}

.currency-rates-item:not(:last-child){
margin-right: 25px;
}


.currency-rates-type {
	color: #2959ce;
	margin-right: 25px;
}
.currency-rates-value {
}

/* GLOBAL-FORM */

.global-search-form	{
margin-right: 25px;
}

.global-search-form-input	{
	padding-top: 15px;
	padding-bottom: 13px;
	padding-left: 40px;
	padding-right: 20px;
font-size: 14px;
border-radius: 60px;
line-height: normal;
border: 0;
}

/* LANG-TAGGLE */
.Lang-toggle {
	width: 70px;
	height: 36px;
	display: flex;
	padding: 3px;
	margin-right: 25px;
	border-radius: 39px;
	background-color: #dce6ff;

}

.lang-toggle-link {
	width: 30px;
	height: 30px;
	font-size: 13px;
	line-height: 30px;
color: #A6A6A6;
	border-radius: 50%;
	text-align: center;
	text-decoration: none;
}

.lang-toggle-link-active {
	background-color: #fff;
	color: #000;
}

/* BUTTON	*/
.button	{
	display: inline-block;
	padding: 13px 20px;
border-radius: 10px;
 border: 0;
	font-size: 16px;
	line-height: normal;
	font-weight: 500;
	text-decoration: none;
	text-align: center;
	cursor: pointer;

}

.button:hover	{
	opacity: 0.8;
}

.button:active	{
	opacity: 0.6;
}

.button-block	{
	width: 100%;



}

.button-primary	{
	background-color:#7296EC;
	color: #fff;
}


.button-orange	{
	background-color: #F78B3B;
	color: #fff;
}



/* SITENAV */
.sitenav {
	padding-top: 12px;
	padding-bottom: 12px;
	border-bottom: 1px solid #d1d1d1;
	margin-bottom: 40px;
	font-size: 18px;
	line-height: normal;
	font-weight: 500;
}

.sitenav-list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding: 0;
	margin: 0;
	list-style: none;
}

.sitenav-item	{
margin-top: 4px;
margin-bottom: 4px;
}

.sitenav-item:not(:last-child) {
	margin-right: 34px;

}

.sitenav-link {
	display: block;
	text-decoration: none;
	color: #7f7f7f;
}

.sitenav-link:hover	{
	color: #7229ec;
}

.sitenav-link:active	{
	opacity: 0.6
}

.site-header-banner-img	{
	display: flex;
}

/* MAIN-CONTENT */
.main-content	{
	flex-grow: 1;
	padding-top: 50px;
	padding-bottom: 100px;
}


/* NEWS-GRID8 */
.news-grid {
display: flex;
flex-wrap: wrap;
margin-left: -10px;
}

.news-grid-item {
	width: 393px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.article-card {
	display: flex;
	flex-direction: column;
	padding: 20px 17px 15px;
	border-radius: 15px;
	background-color: #f6f6f6;
}

.article-card-title {
margin-top: 0;
margin-bottom: 10px;
font-size: 20px;
line-height: 26px;
font-weight: 500;
}
.article-card-link {
	display: inline-block;
	color: #000;
	text-decoration: none;
}

.article-card-link:hover	{
color: #7296ec;
}

.article-card-link:active	{
opacity: 0.6;
}

.article-card-text {
	margin-top: 0;
	margin-bottom: 15px;
}

.article-card-img {
	display: block;
	width: 360px;
	height: 165px;
	margin-bottom: 16x;
	margin-top: auto;
	border-radius: 10px;
	object-fit: cover;
}

.article-card-footer {
	display: flex;
	align-items: center;
}

.article-card-source-icon {
width: 20px;
height: 20px;
margin-right: 10px;
border-radius: 5px;
}

.article-card-sourse-time {
	font-size: 12px;
	line-height: normal;
	color: #5e5F61;
}


/* NOTIFICATION-CTA */
.notification-cta {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 25px 70px 25px 25px;
	margin-left: 75px;
	margin-right: 75px;
	margin: 60px	75px;
	border-radius: 10px;
	background-color: #ffd7ba;
}

.notification-cta-text {
	font-size: 20px;
	line-height: 26px;
	font-weight: 500;
	color: #000;
}


/* GLOBAL-NEWS */


.global-news-heading {
	margin-top: 0;
	margin-bottom: 20px;
	font-size: 24px;
	font-weight: 500;
	line-height: normal;
	color: #000;
}

.news-list {
	display: flex;
	flex-direction: column;
	margin-bottom: 15px;
}

.news-list-item:not(:last-child) {
margin-bottom: 10px;
}

/* ARTICLE-CARD-HORIZANTAL */
.article-card-horizontal {
	display: flex;
	align-items: flex-start;
	padding: 20px;
	border-radius: 15px;
background-color: #f6f6f6;
}

.article-card-horizontal-img {
	width: 210px;
	height: 165px;
	object-fit: cover;
	border-radius: 10px;
	margin-right: 15px;
}

.article-card-horizantal-content {
	flex-grow: 1;
}

.article-card-horizantal-title {
	margin-top: 0;
	margin-bottom: 10px;
	font-weight: 500;
	font-size: 20px;
	line-height: 26px;
}

.article-card-horizantal-link {
	display: inline-block;
	color: #000;
	text-decoration: none;
}

.article-card-horizantal-link:hover	{
color: #7296ec
}

.article-card-horizantal-link:active	{
	opacity: 0.6;
}

.article-card-horizontal-text {
	margin-top: 0;
	margin-bottom: 15px;
	font-size: 16px;
	line-height: 22px;
}

.article-card-horizontal-footer {
	display: flex;
	align-items: center;
}
.article-card-horizontal-source-icon {
	width: 20px;
	height: 20px;
	margin-right: 10px;
	object-fit: cover;
	border-radius: 5px;
}
.article-card-horizontal-sourse-time {
	font-size: 12px;
	line-height: normal;
	color: #5e5f61;
}

/* LAYOUT */
.layout2-1	{
	display: flex;
	align-items: flex-start;
}


.layout-2-1-main	{
	width: 797px;
	margin-right: 10px;
}

.layout-2-1-sitebar	{
	width: 393px;
margin-top: 49px;
}

.layout-2-1-sidebar-item:not(:last-child)	{
margin-bottom: 10px;
}


/* SITEBAR-NEWS-CARD */
.sitebar-news-card {
	padding: 20px;
	border-radius: 15px;
	background-color: #f6f6f6;
	color: #000;
}
.sitebar-news-card-heading {
	margin-top: 0;
	margin-bottom: 25px;
font-size: 18px;
line-height: 24px;
font-weight: 500;
}
.sitebar-news-card-list {
	padding: 0;
	margin: 0;
	list-style: none;
}
.sitebar-news-card-item {
padding-top: 20px;
padding-bottom: 20px;
}

.sitebar-news-card-item:first-child	{
padding-top: 0;
}

.sitebar-news-card-item:last-child	{
padding-bottom: 0;
}

.sitebar-news-card-item:not(:last-child)	{
	border-bottom: 1px solid #d2d2d2
}

.sitebar-news-card-title {
	margin-top: 0;
	margin-bottom: 8px;
	font-size: 18px;
	line-height: 24px;
	font-weight: 500;
}

.sitebar-news-card-link {
	display: inline-block;
	color: #000;
	text-decoration: none;
}

.sitebar-news-card-link:hover	{
	color: #7296ec;
}

.sitebar-news-card-link:active	{
	opacity: 0.6;
}

.sitebar-news-card-sourse-time {
	font-size: 13px;
	line-height: normal;
	color: #5e5f61;
}


/* SIDEBAR-AD */
.sidebar-ad-link	{
display: flex;
}

.sidebar-ad-img	{
	border-radius: 15px;
	width: 393px;
	height: 338px;
	object-fit: cover;
	}